:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;


    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

.app-frame {
    height: 100%;
    position: relative;
    /* background: rgb(21 18 33); */
    /* background: rgb(16,21,29); */
    background: var(--color-dark);
    /* background: #333; */
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    padding-top: 3rem;
}

.app-profile {
    /* background: linear-gradient(#555353,#363535,#303030); */
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
        inset 0 5px 5px rgba(0, 0, 0, 0.5),
        inset 0 15px 25px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 24px;
    width: 720px;
    height: fit-content;
    margin-bottom: 3rem;
}

.multi-container {
    padding: 20px 60px;
    position: relative;
}

.main-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
}

/* Header Page */
header .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

header .page-header img {
    width: 100%;
    box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    /* box-shadow: 1px 1px 10PX 2px rgba(209, 206, 20, 0.5); */
    border-radius: 8px;
}

header .page-header .overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    text-align: center;
}

header .page-header .overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px;
}

header .page-header .overlay img {
    width: 60%;
    /* box-shadow: 2px 2px 10PX 5px rgba(0,0,0,0.5); */
    box-shadow: 2px 2px 10PX 5px rgba(187, 187, 187, 0.5);
}

header .page-header .overlay:target img {
    animation: zoomDanFade 1s;
}

header .page-header .overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -30px;
    color: var(--color-white);
    text-decoration: none;
    /* background: linear-gradient(#555353, #363535, #303030); */
    background: linear-gradient(#3a2152, #2f1e49, #230b3a);
    box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    line-height: 15px;
    padding: 8px;
    border-radius: 6px;
    opacity: 0;
}

header .page-header .overlay .close::before {
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}


header .page-header .overlay:target .close {
    animation: slideDownFade .5s forwards;
}

/* Animation */
@keyframes fadeAjah {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

header .page-header .content {
    display: flex;
    margin-top: -85px;
}


header .page-header .content .emot {
    /* color: var(--color-white); */
    background-color: var(--color-black);
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 500;
    font-size: .90rem;
    /* min-width: 20px; */
    /* padding: 0px 6px; */
    /* height: 20px; */
    line-height: 1.3;
    padding: .4rem 6px;
    border-radius: 2em;
    z-index: 1;
    /* transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    bottom: 6%;
    right: 1%;
    transform: scale(1) translate(50%, -50%);
    transform-origin: 100% 0%;
    border: max(1px,0.0625rem) solid #30363d;
}

header .page-header .content .overlay img {
    width: 40%;
}

header .page-header .content span {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
}

header .page-header .content span .profile-img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 2px solid rgb(254, 254, 254);
}

header .page-header .bio-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    flex-direction: column;
}

header .page-header .bio-text .name {
    width: 255px;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 5px; */
    margin-left: 20px;
}

header .page-header .bio-text .name .text{
    position: relative;
    color: var(--color-primary);
    font-size: 22px;
    font-weight: 600;
}

header .page-header .bio-text .name .text.first-text {
    color: var(--color-white);
}

header .page-header .bio-text .name .text.sec-text {
    text-align: center;
}

header .page-header .bio-text .name .text.sec-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-dark);
    border-left: 2px solid var(--color-primary);
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #ff7f5000;
    }
}


@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        left: calc(100% + 4px);
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        left: 0%;
    }
}


header .page-header .bio-text .motivasi-text {
    margin-top: 12px;
    /* color: #c9c6c6; */
    color: var(--color-secondary);
    font-size: 1rem;
    opacity: .8;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}

/* Main Page */
main {
    text-align: center;
    width: 100%;
}

main .music {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

main .music .title {
    color: var(--color-white);
    display: inline-flex;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -.42px;
}

main .player {
    position: relative;
    max-width: 500px;
    width: 100%;
    min-height: 100px;
    /* background: #fbfbfb; */
    /* background: var(--color-dark); */
    /* background: linear-gradient(#3a2152, #2f1e49, #230b3a); */
    /* border: 2px solid #fff; */
    border: 2px solid var(--color-dark);
    border-radius: 50px;
    padding: 20px 25px;
    box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    /* box-shadow: -10px 10px 15px var(--color-black),
                10px 10px 15px rgba(0,0,0,0.1),
                inset -5px -5px 15px var(--color-black),
                inset 5px 5px 15px rgba(0,0,0,0.1) */

}

main .btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main .btns span {
    position: relative;
    width: 80px;
    height: 80px;
    /* background: #fff; */
    /* background: var(--color-secondary); */
    background: #3a2152;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,0.1),
                inset -5px -2px 5px rgba(0,0,0,0.15),
                0 5px 1px rgba(0,0,0,0.1),
                0 10px 1px rgba(0,0,0,0.1);
}

main .btns span::before {
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
    border-radius: 50%;
}

main .btns span:active,
main .btns span.active {
    /* color: var(--color-white); */
    color: #f3aa21;
    filter: drop-shadow(0 0 5px #f3aa21);
    box-shadow: inset 0 -7px 5px rgba(0,0,0,0.125),
                inset 0 5px 10px rgba(0,0,0,0.25);
}
main .btns span.playPause {
    width: 100px;
    height: 100px;

}

main .btns span ion-icon {
    font-size: 1.5em;
}

main .btns span.playPause ion-icon {
    font-size: 2.5em;
}

main .content-main {
    margin-bottom: 23px;
    width: 100%;
}

main .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -.42px;
}

main .sub-content {
    position: relative;
}

main .content-main .buttons {
    display: flex;
    align-items: center;
    gap: .5rem;
    min-height: 65px;
    padding: 8px 8px 6px 8px;
    margin: 16px 0px;
    /* background: linear-gradient(#555353, #363535, #303030); */
    /* background: linear-gradient(#353434, #292828, #242424);  */
    background: linear-gradient(#3a2152, #2f1e49, #230b3a);
    /* background: linear-gradient(#3a2152, #2f1e49, #2d0e4b); */
    /* background: linear-gradient(#301b44, #27193d, #22023f); */
    border: 2px solid #222;
    border-radius: 6px;
    font-size: 1.5em;
    /* color: #919191; */
    color: var(--color-secondary);
    box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    transition: all ease-in-out .5s;
}

main .content-main .buttons::before {
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}

main .content-main .buttons:hover {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
        inset 0 5px 5px rgba(0, 0, 0, 0.5),
        inset 0 15px 25px rgba(0, 0, 0, 0.35);
    color: var(--color-white);
    text-shadow: 0 0 5px #f3aa21,
        0 0 8px #f3aa21;
    /* text-shadow: 0 0 5px #219cf3,
    0 0 8px #219cf3; */
}

main .content-main .sub-icon {
    width: 3.5rem;
    min-width: 56px;
    margin-right: 8px;
    font-size: 45px;
}

main .content-main .sub-title {
    width: 100%;
    font-weight: 400;
}

main .content-main .share {
    margin-left: 8px;
    width: 3.5rem;
    min-width: 56px;
}

main .line-main {
    width: 100%;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .line-main .line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

main .line-main .line .circle {
    width: 1rem;
    height: .5rem;
    background-color: rgb(254, 254, 254);
    border-radius: 10%;
}

/* Footer Page */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: .5rem;
}

footer .icon img {
    width: 3rem;
}

footer .icon-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -.42px;
}

/* .reveal{
    position: relative;
    transform: translateY(5px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
} */

/* .hidden.zoomIn {
    animation: fade-right 1.3s forwards;
}

.active.zoomIn {
    animation: fade-left 1.3s forwards;
} */

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



/* Media Screen Query */

@media screen and (max-width: 880px) {
    .multi-container {
        padding: 15px 35px;
    }

    header .page-header .overlay:target {
        padding: 100px 10%;
    }

    header .page-header .overlay img {
        width: 100%;
    }

    header .page-header .content .overlay img {
        width: 80%;
    }

    footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .app-frame {
        overflow: hidden;
    }
    .multi-container {
        padding: 10px 20px;
    }

    .app-container {
        padding-top: 0;
    }

    .app-profile {
        box-shadow: none;
        margin-bottom: 0;
    }

    main .player {
        padding: 10px 15px;
        box-shadow: none;
    }

    main .music .title {
        margin-bottom: 10px;
    }

    main .btns span {
        width: 70px;
        height: 70px;
    }

    main .btns span.playPause {
        width: 90px;
        height: 90px;
    }

    header .page-header .overlay .close {
        margin-left: -30px;
        top: 120px;
    }

    header .page-header .overlay:target {
        padding: 170px 8% 100px;
    }

    header .page-header .bio-text .motivasi-text {
        padding: 0 .5rem;
    }

}